@import 'assets/normalize';

.theWorld {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 600px;
  height: 400px;

  background-color: wheat;

  transform: translate(-50%, -50%);
}

.theBird {
  position: absolute;

  background-color: yellow;
}
